<h2 style="color:red; font-size:30px;">Shoe Orders</h2>

<% @orders.each do |order| %>
  <p><b>Name:<b>
  <%= order.name %></p>
  <p>Address:
  <%= order.address %></p>
  <p>Style:
  <%= order.style %></p>
  <p>Size:
  <%= order.size %></p>
  <p>Quantity:
  <%= order.quantity %></p>
  <p>-----------------------------</p>
<%end%>